body{
	max-width: 1170px;
	font-family: Mulish;
	padding-right: 135px;
	padding-left : 135px;
    margin: 0 auto;
}
.logo{
	min-height: 20px;
	display: flex;
	align-items: center;

}
.logo img{
	width: 60px;
	height: 60px
}
.logo p{
	font-size: 36px;
    color: #808080;
    font-style: normal;
    font-weight: 800;
	line-height: normal;
    padding-left: 20px;
}
.logo-name{
    color: #FF5400;
}